<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/gallery.css">
    <title>Koemis Web</title>
  </head>
  <body>
    <header>
      <nav id="navbar" class="container b-red">
        <div class="nav-brand b-blue">
          <a href="#" class="fn-bold b-green">Logo Koemis</a>
        </div>
        <div class="nav-menu b-blue">
          <ul class="nav-list">
            <li class="nav-item b-yellow">
              <a class="nav-link fn-medium b-green" href="../index.html">Home</a>
            </li>
            <li class="nav-item b-yellow">
              <a class="nav-link fn-medium b-green" href="../views/portofolio.html">Portofolio</a>
            </li>
            <li class="nav-item b-yellow">
              <a class="nav-link nav-active fn-medium b-green" href="../views/gallery.html">Gallery</a>
            </li>
            <li class="nav-item b-yellow">
              <a class="nav-link fn-medium b-green" href="../views/members.html">Members</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main id="main-gallery" class="b-purple">
      <div id="content" class="b-red">
        <section id="Gl-jumbotron b-blue">
          <div class="Gl-jumbotron-content container b-yellow">
            <div class="Gl-jumbotron-text b-red">
              <h2 class="fn-semibold b-green">
                Gallery
              </h2>
              <h6 class="fn-regular b-green">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </h6>
            </div>
            <div class="Gl-jumbotron-img">
              <img
                src="../assets/animasi_3d/3dgallery.png"
                alt="Animasi portofolio"
                class="b-green"
              />
            </div>
          </div>
        </section>

        <!-- Notes => GP artinya Gallery Portofolio -->
         <section id="GPcard-content" class="container b-blue">
                <div class="baris">
                    <div class="card-container">
                        <div class="card-isi">
                             <img class="img" src="../assets/cover_gallery/kumpul.jpg" alt="">
                            <h5>Kumpul</h5>
                        <p>Jumat, 04/11/2021</p>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="card-isi">
                            <img class="img" src="../assets/cover_gallery/bakar-bakar.JPG" alt="">
                            <h5>Bakar-bakar</h5>
                        <p>Jumat, 04/11/2021</p>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="card-isi">
                            <img class="img" src="../assets/cover_gallery/bukber.jpg" alt="">
                            <h5>Bukber BK 2022</h5>
                        <p>Jumat, 04/11/2021</p>
                        </div>
                    </div>
                </div>

                <div class="baris">
                    <div class="card-container">
                        <div class="card-isi">
                             <img class="img" src="../assets/cover_gallery/Empty-img.png" alt="">
                            <h5>Coming Soon</h5>
                        <p>Date, dd/mm/yyyy</p>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="card-isi">
                             <img class="img" src="../assets/cover_gallery/Empty-img.png" alt="">
                            <h5>Coming Soon</h5>
                        <p>Date, dd/mm/yyyy</p>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="card-isi">
                             <img class="img" src="../assets/cover_gallery/Empty-img.png" alt="">
                            <h5>Coming Soon</h5>
                        <p>Date, dd/mm/yyyy</p>
                        </div>
                    </div>
                </div>

                <div class="baris">
                    <div class="card-container">
                        <div class="card-isi">
                             <img class="img" src="../assets/cover_gallery/Empty-img.png" alt="">
                            <h5>Coming Soon</h5>
                        <p>Date, dd/mm/yyyy</p>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="card-isi">
                             <img class="img" src="../assets/cover_gallery/Empty-img.png" alt="">
                            <h5>Coming Soon</h5>
                        <p>Date, dd/mm/yyyy</p>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="card-isi">
                             <img class="img" src="../assets/cover_gallery/Empty-img.png" alt="">
                            <h5>Coming Soon</h5>
                        <p>Date, dd/mm/yyyy</p>
                        </div>
                    </div>
                </div>

                <div class="baris">
                    <div class="card-container">
                        <div class="card-isi">
                             <img class="img" src="../assets/cover_gallery/Empty-img.png" alt="">
                            <h5>Coming Soon</h5>
                        <p>Date, dd/mm/yyyy</p>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="card-isi">
                             <img class="img" src="../assets/cover_gallery/Empty-img.png" alt="">
                            <h5>Coming Soon</h5>
                        <p>Date, dd/mm/yyyy</p>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="card-isi">
                             <img class="img" src="../assets/cover_gallery/Empty-img.png" alt="">
                            <h5>Coming Soon</h5>
                        <p>Date, dd/mm/yyyy</p>
                        </div>
                    </div>
                </div>

                <div class="baris">
                    <div class="card-container">
                        <div class="card-isi">
                             <img class="img" src="../assets/cover_gallery/Empty-img.png" alt="">
                            <h5>Coming Soon</h5>
                        <p>Date, dd/mm/yyyy</p>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="card-isi">
                             <img class="img" src="../assets/cover_gallery/Empty-img.png" alt="">
                            <h5>Coming Soon</h5>
                        <p>Date, dd/mm/yyyy</p>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="card-isi">
                             <img class="img" src="../assets/cover_gallery/Empty-img.png" alt="">
                            <h5>Coming Soon</h5>
                        <p>Date, dd/mm/yyyy</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  </body>
</html>
