<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- VANILLA CSS -->
    <link rel="stylesheet" href="/styles/style.css" />

    <title>Koemis Web - Balqis</title>
  </head>
  <body>
    <header>
      <nav id="navbar" class="container b-red">
        <div class="nav-brand b-blue">
          <a href="#" class="fn-bold b-green">Logo Koemis</a>
        </div>
        <div class="nav-menu b-blue">
          <ul class="nav-list">
            <li class="nav-item b-yellow">
              <a class="nav-link fn-medium b-green" href="/index.html">Home</a>
            </li>
            <li class="nav-item b-yellow">
              <a
                class="nav-link fn-medium b-green"
                href="/views/portofolio.html"
                >Portofolio</a
              >
            </li>
            <li class="nav-item b-yellow">
              <a class="nav-link fn-medium b-green" href="/views/gallery.html"
                >Gallery</a
              >
            </li>
            <li class="nav-item b-yellow">
              <a class="nav-link fn-medium b-green" href="/views/members.html"
                >Members</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main id="main-character" class="b-purple">
      <div id="content container" class="b-red">
        <section id="character-info">
          <div class="char-info-content container">
            <div class="char-text">
              <div class="char-name">
                <h2 class="fn-semibold">Amalia Balqis Qonitah</h2>
              </div>
              <div class="char-motto">
                <p class="fn-regular">""</p>
              </div>
              <div class="char-skill">
                <h5 class="fn-semibold">skills</h5>
                <div class="char-skill-list">
                  <p class="fn-semibold sr-box">HTML</p>
                  <p class="fn-semibold sr-box">CSS</p>
                  <p class="fn-semibold sr-box">JavaScript</p>
                  <p class="fn-semibold sr-box">SQL</p>
                  <p class="fn-semibold sr-box">Figma</p>
                  <p class="fn-semibold sr-box">Adobe Illustrator</p>
                  <p class="fn-semibold sr-box">Adobe Photoshop</p>
                  <p class="fn-semibold sr-box">Adobe Lightroom</p>
                </div>
              </div>
              <div class="char-role">
                <h5 class="fn-semibold">roles</h5>
                <div class="char-role-list">
                  <p class="fn-semibold sr-box">Project Manager</p>
                  <p class="fn-semibold sr-box">Front-end Developer</p>
                  <p class="fn-semibold sr-box">Photographer</p>
                </div>
              </div>
              <div class="char-contact">
                <h5 class="fn-semibold">contact</h5>
                <div class="char-contact-list">
                  <a
                    href="https://instagram.com/dwi_krisdito?igshid=YmMyMTA2M2Y="
                    target="_blank"
                    ><i class="fa-brands fa-instagram fa-2xl"></i
                  ></a>
                  <a
                    href="https://www.linkedin.com/in/dwi-krisdiyanto-7a6341195"
                    target="_blank"
                    ><i class="fa-brands fa-linkedin fa-2xl"></i
                  ></a>
                  <a href="https://github.com/krisious" target="_blank"
                    ><i class="fa-brands fa-github fa-2xl"></i
                  ></a>
                  <a
                    href="https://www.facebook.com/fransiskusantonius.dwikrisdiyanto"
                    target="_blank"
                    ><i class="fa-brands fa-facebook fa-2xl"></i
                  ></a>
                  <a
                    href="https://twitter.com/dwi_krisdito?t=y35G3Asj1z24yWb4rNzGmg&s=09"
                    target="_blank"
                    ><i class="fa-brands fa-twitter fa-2xl"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="char-img flip-img">
              <div class="flip-inner bg-yellow">
                <div class="flip-front-ch">
                  <img
                    src="/assets/characters/Amalia Balqis Qonitah/balqis3.png"
                    alt="Amalia Balqis Qonitah Img"
                  />
                </div>
                <div class="flip-back-ch">
                  <img
                    src="/assets/characters/Amalia Balqis Qonitah/balqis4.png"
                    alt="Amalia Balqis Qonitah Img"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="projects">
          <div class="projects-content container">
            <div class="section-title projects-title">
              <h1 class="fn-semibold">projects</h1>
            </div>

            <div id="splideProject" class="splide" aria-label="projects-slider">
              <div class="splide__track projects-slider b-red">
                <div class="splide__list slider-content b-blue">
                  <div class="splide__slide story-card">
                    <div class="st-card-content">
                      <img
                        class="img"
                        src="/assets/cover_gallery/Empty-img.png"
                        alt=""
                      />
                      <h5>Coming Soon</h5>
                      <p>Coming Soon</p>
                    </div>
                  </div>

                  <div class="splide__slide story-card">
                    <div class="st-card-content">
                      <img
                        class="img"
                        src="/assets/cover_gallery/Empty-img.png"
                        alt=""
                      />
                      <h5>Coming Soon</h5>
                      <p>Coming Soon</p>
                    </div>
                  </div>

                  <div class="splide__slide story-card">
                    <div class="st-card-content">
                      <img
                        class="img"
                        src="/assets/cover_gallery/Empty-img.png"
                        alt=""
                      />
                      <h5>Coming Soon</h5>
                      <p>Coming Soon</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="characters" class="b-purple">
          <div class="characters-m-content container">
            <div class="section-title characters-title">
              <h1 class="fn-semibold">other character</h1>
            </div>

            <div
              id="splideCharacter"
              class="splide"
              aria-label="characters-slider"
            >
              <div class="splide__track character-slider b-red">
                <div class="splide__list slider-content b-blue">
                  <div class="splide__slide character-card b-yellow">
                    <div class="ch-card-content b-purple">
                      <div class="ch-card-image b-green">
                        <a href="/views/characters/character_agung.html">
                          <img
                            src="/assets/animasi_3d/3dlandingpage.png"
                            alt="Agung Krissanto Img"
                          />
                        </a>
                      </div>
                      <div class="ch-card-name b-green">
                        <a
                          href="/views/characters/character_agung.html"
                          class="fn-medium b-green"
                          >agung krissanto</a
                        >
                      </div>
                    </div>
                  </div>

                  <div class="splide__slide character-card b-yellow">
                    <div class="ch-card-content b-purple">
                      <div class="ch-card-image b-green">
                        <a href="/views/characters/character_aji.html">
                          <img
                            src="/assets/animasi_3d/3dlandingpage.png"
                            alt="Aji Supriyatno Img"
                          />
                        </a>
                      </div>
                      <div class="ch-card-name b-green">
                        <a
                          href="/views/characters/character_aji.html"
                          class="fn-medium b-green"
                          >aji supriyatno</a
                        >
                      </div>
                    </div>
                  </div>

                  <div class="splide__slide character-card b-yellow">
                    <div class="ch-card-content b-purple">
                      <div class="ch-card-image b-green">
                        <a href="/views/characters/character_balqis.html">
                          <img
                            src="/assets/animasi_3d/3dlandingpage.png"
                            alt="Amalia Balqis Qonitah Img"
                          />
                        </a>
                      </div>
                      <div class="ch-card-name b-green">
                        <a
                          href="/views/characters/character_balqis.html"
                          class="fn-medium b-green"
                          >amalia balqis qonitah</a
                        >
                      </div>
                    </div>
                  </div>

                  <div class="splide__slide character-card b-yellow">
                    <div class="ch-card-content b-purple">
                      <div class="ch-card-image b-green">
                        <a href="/views/characters/character_bima.html">
                          <img
                            src="/assets/animasi_3d/3dlandingpage.png"
                            alt="Bima Putra Efendi Img"
                          />
                        </a>
                      </div>
                      <div class="ch-card-name b-green">
                        <a
                          href="/views/characters/character_bima.html"
                          class="fn-medium b-green"
                          >bima putra efendi</a
                        >
                      </div>
                    </div>
                  </div>

                  <div class="splide__slide character-card b-yellow">
                    <div class="ch-card-content b-purple">
                      <div class="ch-card-image b-green">
                        <a href="/views/characters/character_dwi.html">
                          <img
                            src="/assets/animasi_3d/3dlandingpage.png"
                            alt="Dwi Krisdiyanto Img"
                          />
                        </a>
                      </div>
                      <div class="ch-card-name b-green">
                        <a
                          href="/views/characters/character_dwi.html"
                          class="fn-medium b-green"
                          >dwi krisdiyanto</a
                        >
                      </div>
                    </div>
                  </div>

                  <div class="splide__slide character-card b-yellow">
                    <div class="ch-card-content b-purple">
                      <div class="ch-card-image b-green">
                        <a href="/views/characters/character_gracia.html">
                          <img
                            src="/assets/animasi_3d/3dlandingpage.png"
                            alt="Gracia Hotmauli Img"
                          />
                        </a>
                      </div>
                      <div class="ch-card-name b-green">
                        <a
                          href="/views/characters/character_gracia.html"
                          class="fn-medium b-green"
                          >gracia hotmauli</a
                        >
                      </div>
                    </div>
                  </div>

                  <div class="splide__slide character-card b-yellow">
                    <div class="ch-card-content b-purple">
                      <div class="ch-card-image b-green">
                        <a href="/views/characters/character_deka.html">
                          <img
                            src="/assets/animasi_3d/3dlandingpage.png"
                            alt="Hari Agung Merdeka Img"
                          />
                        </a>
                      </div>
                      <div class="ch-card-name b-green">
                        <a
                          href="/views/characters/character_deka.html"
                          class="fn-medium b-green"
                          >hari agung merdeka</a
                        >
                      </div>
                    </div>
                  </div>

                  <div class="splide__slide character-card b-yellow">
                    <div class="ch-card-content b-purple">
                      <div class="ch-card-image b-green">
                        <a href="/views/characters/character_isabel.html">
                          <img
                            src="/assets/animasi_3d/3dlandingpage.png"
                            alt="Isabel Rose Img"
                          />
                        </a>
                      </div>
                      <div class="ch-card-name b-green">
                        <a
                          href="/views/characters/character_isabel.html"
                          class="fn-medium b-green"
                          >isabel rose</a
                        >
                      </div>
                    </div>
                  </div>

                  <div class="splide__slide character-card b-yellow">
                    <div class="ch-card-content b-purple">
                      <div class="ch-card-image b-green">
                        <a href="/views/characters/character_jo.html">
                          <img
                            src="/assets/animasi_3d/3dlandingpage.png"
                            alt="Jose Rizal Img"
                          />
                        </a>
                      </div>
                      <div class="ch-card-name b-green">
                        <a
                          href="/views/characters/character_jo.html"
                          class="fn-medium b-green"
                          >jose rizal</a
                        >
                      </div>
                    </div>
                  </div>

                  <div class="splide__slide character-card b-yellow">
                    <div class="ch-card-content b-purple">
                      <div class="ch-card-image b-green">
                        <a href="/views/characters/character_nia.html">
                          <img
                            src="/assets/animasi_3d/3dlandingpage.png"
                            alt="Khaliza Fania"
                          />
                        </a>
                      </div>
                      <div class="ch-card-name b-green">
                        <a
                          href="/views/characters/character_nia.html"
                          class="fn-medium b-green"
                          >khaliza fania</a
                        >
                      </div>
                    </div>
                  </div>

                  <div class="splide__slide character-card b-yellow">
                    <div class="ch-card-content b-purple">
                      <div class="ch-card-image b-green">
                        <a href="/views/characters/character_naufal.html">
                          <img
                            src="/assets/animasi_3d/3dlandingpage.png"
                            alt="Muhammad Naufal Taqiyuddin Img"
                          />
                        </a>
                      </div>
                      <div class="ch-card-name b-green">
                        <a
                          href="/views/characters/character_naufal.html"
                          class="fn-medium b-green"
                          >muhammad naufal t</a
                        >
                      </div>
                    </div>
                  </div>

                  <div class="splide__slide character-card b-yellow">
                    <div class="ch-card-content b-purple">
                      <div class="ch-card-image b-green">
                        <a href="/views/characters/character_estu.html">
                          <img
                            src="/assets/animasi_3d/3dlandingpage.png"
                            alt="Pangestu Dwi Panggo Img"
                          />
                        </a>
                      </div>
                      <div class="ch-card-name b-green">
                        <a
                          href="/views/characters/character_estu.html"
                          class="fn-medium b-green"
                          >pangestu dwi panggo</a
                        >
                      </div>
                    </div>
                  </div>

                  <div class="splide__slide character-card b-yellow">
                    <div class="ch-card-content b-purple">
                      <div class="ch-card-image b-green">
                        <a href="/views/characters/character_pelangi.html">
                          <img
                            src="/assets/animasi_3d/3dlandingpage.png"
                            alt="Pelangi Dwi Mawarni Img"
                          />
                        </a>
                      </div>
                      <div class="ch-card-name b-green">
                        <a
                          href="/views/characters/character_pelangi.html"
                          class="fn-medium b-green"
                          >pelangi dwi mawarni</a
                        >
                      </div>
                    </div>
                  </div>

                  <div class="splide__slide character-card b-yellow">
                    <div class="ch-card-content b-purple">
                      <div class="ch-card-image b-green">
                        <a href="/views/characters/character_radit.html">
                          <img
                            src="/assets/animasi_3d/3dlandingpage.png"
                            alt="Radityo Agraprana Susanto Img"
                          />
                        </a>
                      </div>
                      <div class="ch-card-name b-green">
                        <a
                          href="/views/characters/character_radit.html"
                          class="fn-medium b-green"
                          >radityo agraprana s</a
                        >
                      </div>
                    </div>
                  </div>

                  <div class="splide__slide character-card b-yellow">
                    <div class="ch-card-content b-purple">
                      <div class="ch-card-image b-green">
                        <a href="/views/characters/character_rakha.html">
                          <img
                            src="/assets/animasi_3d/3dlandingpage.png"
                            alt="Rakha Dimas Ramadhan Munir Img"
                          />
                        </a>
                      </div>
                      <div class="ch-card-name b-green">
                        <a
                          href="/views/characters/character_rakha.html"
                          class="fn-medium b-green"
                          >rakha dimas r.m</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>

    <footer>
      <p class="fn-regular">&#169; Koemis Web</p>
    </footer>

    <!-- SPLIDE JS -->
    <script src="/lib/splide-4.0.7/dist/js/splide.min.js"></script>

    <!-- VANILLA JS -->
    <script src="/scripts/script.js"></script>

    <script>
      var splideProjects = new Splide("#splideProject", {
        perPage: 3,
        rewind: true,
        // width: "19.5rem",
        autoWidth: true,
        // heigth: "30rem",
        autoHeight: true,
        gap: "5.7rem",
        padding: "2rem",
      });

      splideProjects.mount();

      var splideCharacters = new Splide("#splideCharacter", {
        perPage: 3,
        rewind: true,
        // width: "19.5rem",
        autoWidth: true,
        // heigth: "30rem",
        autoHeight: true,
        gap: "6.2rem",
        padding: "2.25rem",
      });

      splideCharacters.mount();
    </script>
  </body>
</html>
