#main-gallery {
  margin-top: -8.5rem;
  width: 100%;
}

/* JUMBOTRON STYLE */
#jumbotron {
  width: 100%;
}

.Gl-jumbotron-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8rem;
  margin-top: 7.5rem;
  height: 45rem;
}

.Gl-jumbotron-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 4rem;
}

.Gl-jumbotron-img img {
  width: 685px;
  height: 483px;
  margin-top: 2rem;
  margin-left: 2rem;
}
