/* GLOBAL STYLE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* ROOT STYLE */
:root {
  /* PRIMARY COLOR */
  --cyan: #ebf0ff;

  /* SECONDARY COLORS */
  --light-cyan: #f6f8ff;
  --blue: #3f9fed;
  --yellow: #ffce84;

  /* ACCENT COLORS */
  --light-blue: #65a3ff;
  --light-yellow: #fee18a;

  /* NEUTRAL COLORS */
  --black: #212121;
  --dark-grey: #797777;
  --grey: #b9b8b8;
  --light-grey: #eeeeee;
  --white: #f8faff;
}

/* BODY */
body {
  background-color: var(--cyan);
  height: 200vh;
}

.container {
  padding: 0 4.5rem;
}

/* BOX GUIDE */
/* DIGUNAKAN UNTUK MEMBANTU POSITIONING DAN DISPLAY BOX CSS */
/* .b-red {
  border: 2px solid red;
}
.b-green {
  border: 2px solid green;
}
.b-blue {
  border: 2px solid darkblue;
}
.b-purple {
  border: 2px solid purple;
}
.b-yellow {
  border: 2px solid darkorange;
} */

/* TYPHOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5em;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

p,
a {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}

.fn-bold {
  font-weight: 700;
}

.fn-semibold {
  font-weight: 600;
}

.fn-medium {
  font-weight: 500;
}

.fn-regular {
  font-weight: 400;
}

.fn-light {
  font-weight: 300;
}

/* NAVBAR STYLE */
header {
  position: fixed;
  width: 100%;
  background-color: var(--cyan);
  transition: all 0.5s ease-in-out;
  z-index: 10000;
}

header.sticky{
  box-shadow: var(--dark-grey) 0px -40px 100px -20px,
    var(--black) 0px -20px 60px -30px;
}

#navbar {
  width: 100%;
  height: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--black);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 2rem;
}

.nav-link {
  color: var(--black);
  text-decoration: none;
}

/* BUTTON STYLE */

/* PROFILE CARD STYLE */

/* PORTFOLIO & GALLERY CARD STYLE */

/* FOOTER STYLE */
footer {
  width: 100%;
  height: 4rem;
  background-color: var(--light-cyan);
  text-align: center;
  display: flex;
  justify-content: center;
}

footer p {
  margin: 1rem;
  font-size: 2rem;
}
