#main-landing-page {
  width: 100%;
}

.section-title {
  padding-top: 5rem;
}

/* JUMBOTRON STYLE */
#jumbotron {
  width: 100%;
}

.lp-jumbotron-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8rem;
  height: 64rem;
}

.lp-jumbotron-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.lp-jumbotron-text p {
  text-align: justify;
}

.lp-jumbotron-img img {
  width: 24rem;
  height: 24rem;
}

/* ABOUT US STYLE */

#about-us {
  width: 100%;
  height: 64rem;
  background-color: var(--dark-grey);
}

.about-us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7.5rem;
}

.about-us-content h1,
.about-us-content p {
  text-align: justify;
  color: var(--white);
}

.about-us-content p {
  width: 51.5rem;
}

/* CHARACTERS STYLE */
#characters {
  width: 100%;
}

.characters-content {
  height: 64rem;
}

.characters-title {
  text-align: center;
}

.character-slider {
  margin-top: 5rem;
  height: 32rem;
}

.characters-content .button {
  display: flex;
  margin: auto;
  margin-top: 5rem;
}

/* STORIES STYLE */
#stories {
  width: 100%;
}

.stories-content {
  height: 64rem;
}

.stories-title {
  text-align: center;
}

.story-slider {
  margin-top: 5rem;
  height: 21rem;
}

.stories-content .button {
  display: flex;
  margin: auto;
  margin-top: 5rem;
}
