#main-portofolio {
  width: 100%;
}

/* JUMBOTRON STYLE */
#jumbotron {
  width: 100%;
}

.Pt-jumbotron-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8rem;
  height: 45rem;
}

.Pt-jumbotron-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 3rem;
}

.Pt-jumbotron-img img {
  width: 628px;
  height: 444px;
  margin-top: 2rem;
  margin-left: 2rem;
}
